*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
# Android
*.apk
*.aab
*.aar

app/build

local.properties

# IntelliJ / Android Studio
.idea

app/libs/*.aar

# Logs
*.log

# OS

Thumbs.db
